@model IndustryTower.Models.LocalPasswordModel

<div class="panel panel-default">
    <div class="panel-heading">
        @Resource.changePassword
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Manage", "Account"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

               <div class="form-group">
                    @Html.PasswordFor(m => m.OldPassword, new { @placeholder = Html.DisplayNameFor(model => model.OldPassword), @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.NewPassword, new { @placeholder = Html.DisplayNameFor(model => model.NewPassword), @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = Html.DisplayNameFor(model => model.ConfirmPassword), @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <input type="submit" value="@Resource.changePassword" class="col-md-12 btn-primary btn"/>
        }

    </div>
</div>
