@model IndustryTower.ViewModels.FriendRequestViewModel

<div id="friendRequest" class="dirltr">
    @using (Html.BeginForm("CancelFriendRequest", "FriendRequest", FormMethod.Post, new { @Class = "friendRequest-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @Html.Hidden("user", Model.user)
        @Html.Hidden("request", Model.request)
    <input type="submit" value="@Resource.friendRequestCancel" id="friensRequest-botton" class="btn btn-primary btn-xs" data-loading-text="@Resource.loading" />
    }
</div>