@model IList<IndustryTower.Models.ActiveUser>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">
        @Resource.group
    </h4>
</div>
   <div class="modal-body dir">
        <ul class="likes-list list-group no-pad">
            @if (Model.Count() > 0)
            {
                foreach (var user in Model)
                {
                    <li class="list-group-item">
                        <div class="inline-block">
                            @Html.ProfilePic(user: user, imghtmlAttributes: new { @class = "min-img" })
                        </div>
                        <div class="inline-block">
                            @Html.ActionLink(user.CultureFullName, "UProfile", "UserProfile", new { UId = user.UserId, UName = StringHelper.URLName(user.CultureFullName) }, null)
                            <div>
                                <small>
                                    @Html.PresentExperience(user.UserId)
                                </small>

                            </div>
                        </div>
                    </li>
                }
            }
            else
            {
                @Resource.noResult
            }
        </ul>
    </div>
    <div class="modal-footer dir">
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.close</button>
        
    </div>

