@{
    ViewBag.Title = Resource.contactUs;
}

<div class="row dir">
    <div class="col-md-6 col-md-offset-3 panel panel-default">
        <h3 class="bottom-border-blue">
            @Resource.contactUs
        </h3>
        <div class="margin-top-bot-md">
            <span class="glyphicon glyphicon-phone-alt" title="@Resource.tel"></span>
            <span>
                21-88635918 (مهدی والی نژاد)
            </span>
        </div>
        <div class="margin-top-bot-md">

            <span class="icon-Company" title="@Resource.officeAddress"></span>

            <span>
                @Resource.ITaddress
            </span>
        </div>
        <div class="margin-top-bot-md">

            <span class="glyphicon glyphicon-print" title="@Resource.fax"></span>

            <span>
                21-89781691
            </span>
        </div>
        <div class="margin-top-bot-md">

            <span class="glyphicon glyphicon-envelope" title="@ModelDisplayName.email"></span>

            <span>
                @*<a href="mailto:info@industrytower.com" target="_top">*@
                info [at] industrytower [.] com
                @*</a>*@
            </span>
        </div>
    </div>

</div>



