@model List<IndustryTower.ViewModels.QuestionSearchViewModel>
@foreach (var item in Model)
{
    <div class="search-grid-box row margin-top-bot-md bg-default border-radius">

        <div class="col-md-2 margin-top-bot-md">
            <div class="col-md-12 text-center no-wrap margin-top-bot-md">
                @Resource.answers
                <span class="badge">
                    @Html.DisplayFor(model => item.Answers)
                </span>
            </div>
        </div>

        <div class="col-md-10 margin-top-bot-md">
            <strong>
                @Html.ActionLink(item.questionResult.questionSubject, "Detail", "Question", new { QID = item.questionResult.questionID, QName = StringHelper.URLName(item.questionResult.questionSubject) }, new { @class = "questionLink" })
            </strong>

            <div>
                @Html.DisplayAbstractFor(item.questionResult.questionBody, 150)
            </div>
            <div class="col-md-12 margin-top-bot-md">
                <div class="inline-block bottom-border-blue">
                    @Resource.professions
                </div>
                
                    @Html.AjaxPrtialLoader(Url.Action("RelatedProfessions", "Profession", new { QId = item.questionResult.questionID }))
            </div>
        </div>
    </div>
}

@if ((bool)ViewData["finalPage"] == false)
{
    var pagenumber = (int)ViewData["pageNum"];
    <div id="nextSearchResults" data-nextpage="@(pagenumber + 1)">
        @Html.NextItems("TotalSearch", "Home", new
   {
       page = pagenumber + 1,
       currentFilter = ViewData["currentFilter"]
   })
    </div>
}